@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.reviewScreen {
    width: 100%;
    margin: 1rem 0;

    &__list {
        margin: auto;
        width: 100%;
    }

    &__review {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 auto 2rem;
        hyphens: auto;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.8rem;

        &-quotationMark {
            color: rgba(0, 0, 0, 0.5);
            font-family: getDeepMapValue(vars.$var, fonts, title);
            font-size: 7rem;
            line-height: 2rem;

            &--downright {
                text-align: end;
            }
        }

        &:hover {
            .reviewScreen__review-quotationMark {
                color: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }

        &-text {
            font-family: getDeepMapValue(vars.$var, fonts, text);
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
            line-height: 1.2rem;
            padding-bottom: 1rem;
        }

        &-subtitle {
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
            border-bottom: 1px solid white;
        }

        &-author {
            font-style: italic;

            &--name {
                font-family: getDeepMapValue(vars.$var, fonts, subtitle);
                font-weight: bold;
            }
        }
    }
}