@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.projectPage {
    color: #f5f5f5;
    display: flex;
    flex-direction: column;

    &__contentBx {
        display: flex;
        flex-direction: column;
    }
}

.project {
    box-shadow: 0px 0px 0.2rem black;

    &__intro {
        font-family: getDeepMapValue(vars.$var, fonts, subtitle);

    }

    &__titleBx {
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__title {
        font-family: getDeepMapValue(vars.$var, fonts, subtitle);
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h3);
    }

    &__githubLink {
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;

        &--svg {
            z-index: 1;
        }

        &:focus {
            fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
            color: getDeepMapValue(vars.$var, colors, tertiary, primary);
        }
    }

    &__slider {
        position: relative;
    }

    &__descBx {
        font-family: getDeepMapValue(vars.$var, fonts, text);
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: getDeepMapValue(vars.$var, colors, primary, primary);
    }

    &__desc {
        padding: 0.8rem;
        font-size: getDeepMapValue(vars.$var, font-sizes, tiny);

    }

    &__playBx {
        position: relative;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 4rem;
        width: 1rem;

        &--message {
            padding: 0 1rem;
        }

        &--btn {
            width: 2.5rem;
            position: absolute;
        }

        &--icon {
            transform: translate(1px, -0.5px);
            width: 1rem !important;
            height: 1rem !important;
            position: absolute;
            fill: #f5f5f5;
        }

        &:hover {
            .project__playBx--path {
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary);

            }
        }
    }

    &__tagBx {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__techSkills {
        display: flex;
        flex-wrap: wrap;

        .utils--active {
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary);
        }

        &-title {
            padding: 0.7rem;
            text-align: center;
            text-transform: uppercase;
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            color: getDeepMapValue(vars.$var, colors, secondary, primary);
            box-shadow: 0px 0px 0.2rem black;
        }

        &-contentBx {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &-list {
            list-style: inside;
            // background-color: getDeepMapValue(vars.$var, colors, primary, primary);
            height: 100%;
            display: flex;
            flex-direction: column;
            font-family: getDeepMapValue(vars.$var, fonts, text);
            font-size: getDeepMapValue(vars.$var, font-sizes, tiny);
            align-items: center;

            &-item {
                margin: 0.5rem 0;
                // padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
            }
        }
    }


    &__story {
        position: relative;
        width: 100%;
        margin: 0 auto;
        font-family: getDeepMapValue(vars.$var, fonts, text);
        background-color: rgba(0, 0, 0, 0.5);

        &--layer {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(1.5px);
        }

        &-contentBx {
            padding: 1rem;
            letter-spacing: 0.2px;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            h2,
            h3,
            h4,
            h5,
            p {
                padding: 1rem 0;
                text-align: justify;
                hyphens: auto;
            }

            h2 {
                font-family: getDeepMapValue(vars.$var, fonts, title);
                font-size: getDeepMapValue(vars.$var, font-sizes, title, h2);
                border-bottom: 1px solid white;
                display: flex;
                justify-content: center;
                padding: 3rem 0 1rem;
                text-transform: uppercase;
                color: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }

            h3 {
                font-family: getDeepMapValue(vars.$var, fonts, subtitle);
                font-size: getDeepMapValue(vars.$var, font-sizes, title, h3);
                text-decoration: underline;
            }

            h4 {
                font-family: getDeepMapValue(vars.$var, fonts, subtitle);
                font-size: getDeepMapValue(vars.$var, font-sizes, title, h4);
            }

            h5 {
                font-family: getDeepMapValue(vars.$var, fonts, subtitle);
                font-size: getDeepMapValue(vars.$var, font-sizes, title, h5);
            }

            p {
                font-family: getDeepMapValue(vars.$var, fonts, text);
                font-size: getDeepMapValue(vars.$var, font-sizes, text);
                line-height: 1.2rem;
                hyphens: auto;
                max-width: 70ch;
                margin: 0 auto;
            }

            a {
                text-decoration: none;
                color: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .projectPage {
        width: 50% !important;
    }

    .project {
        &__githubLink {
            padding: 1rem 1.5rem;

            &:hover {
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }

        &__playBx {
            width: 2rem;
        }

        &__techSkills-title {
            &:hover {
                background-color: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }
    }
}