@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.skillsPage {}

.intro {
    color: white;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0.2rem black;

    &__title {
        font-family: getDeepMapValue(vars.$var, fonts, title);
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h5);
    }

    &__desc {
        display: flex;
        margin: 1rem 0 0;
        font-family: getDeepMapValue(vars.$var, fonts, text);
        flex-direction: column;
        color: rgba(255, 255, 255, 0.5);
    }

    &__picture {
        width: 4.5rem;
        min-height: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 0.2rem black;
    }
}

.stats {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;

    &__list {
        width: 100%;
        color: rgba(0, 0, 0, 0.5);
        font-family: getDeepMapValue(vars.$var, fonts, subtitle);
        // display: grid; // Desktop Media Queries
        // grid-template-columns: 1fr 1fr; // Desktop Media Queries
        justify-content: space-between;
        text-align: center;
        margin: 0.5rem 0;
    }

    &__card {
        margin: 0.5rem 1rem;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        box-shadow: 0px 0px 0.2rem black;

        // DESKTOP MEDIA QUERIES
        // &--one{
        //     grid-column: 1/2;
        //     grid-row: 1;
        // } 
        // &--two{
        //     grid-column: 2/2;
        //     grid-row: 1;
        // }

        // &--three{
        //     grid-column: 1/2;
        //     grid-row: 2;
        // }

        // &--four{
        //     grid-column: 2/2;
        //     grid-row: 2;
        // }

        // &--five{
        //     grid-column-start: 1;
        //     grid-column-end: 3;
        //     grid-row: 3;
        // }
    }

    &__titles {
        margin: 0 0 0.5rem;
    }

    &__data {
        color: white;
        color: getDeepMapValue(vars.$var, colors, secondary, primary);
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
        text-shadow: 1px black;
    }
}

@media screen and (min-width:600px) {
    .skillsPage {
        width: 50%;
    }
}