@use 'src/styles/vars';

@import '@splidejs/react-splide/css';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

body {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
}

body,
.App {
    background-color: #04192E;
    background-color: getDeepMapValue(vars.$var, colors, secondary, primary);
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mobile,
.desktop {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-repeat: repeat;
    background-position: center;
    // background-size: 100%;
}

.mobile {
    background-image: getDeepMapValue(vars.$var, bg, mobile);
}

.desktop {
    background-image: getDeepMapValue(vars.$var, bg, desktop);
}

.page {
    margin: 10vh auto 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .page {
        width: 100% !important;
        margin: 8vh auto 0rem;

        &__landingPage {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 900px) {
    .page {
        width: 75% !important;
        margin: 8vh auto 0rem;

        &__landingPage {
            width: 100% !important;
        }
    }
}

@media screen and (min-width: 1200px) {
    .page {
        width: 50% !important;
        margin: 8vh auto 0rem;

        &__landingPage {
            width: 100% !important;
        }
    }
}