@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys { $map: map-get($map, $key); }
    @return $map;
}


body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: getDeepMapValue(vars.$var, colors, secondary, primary);
};

.main {
    position: absolute;
    top: 4.9rem;
}

.mobile {
    min-height: 100vh;
    width: 100%;
    background-image: getDeepMapValue(vars.$var, bg, mobile);
    background-repeat: no-repeat;
    &--landing{
        background-position-y: 30rem;
    }
}

.desktop {
    min-height: 100vh;
    width: 100%;
    background-image: getDeepMapValue(vars.$var, bg, desktop);
    background-repeat: no-repeat;

    &--landing{
        background-position-y: 40rem;
    }
}

.utils{
    &--orange{
        color: getDeepMapValue(vars.$var, colors, tertiary, primary);
    };

    &--white{
        color: white
    }

    &--hidden{
        display: none !important;
    }
}

