@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys { $map: map-get($map, $key); }
    @return $map;
}


body {
    min-height: 100vh;
    margin: 0;
    background-color: getDeepMapValue(vars.$var, colors, secondary, primary);
};

.main {
}

.mobile {
    min-height: 100vh;
    background-image: getDeepMapValue(vars.$var, bg, mobile);
    background-repeat: no-repeat;
    &--landing{
        background-position-y: 30rem;
    }
}

.desktop {
    min-height: 100vh;
    background-image: getDeepMapValue(vars.$var, bg, desktop);
    background-repeat: no-repeat;

    &--landing{
        background-position-y: 40rem;
    }
}

.utils{
    &--orange{
        color: getDeepMapValue(vars.$var, colors, tertiary, primary);
    };

    &--white{
        color: white
    }  
}

.landing {
    &__name, &__subtitle{
        font-family: getDeepMapValue(vars.$var, fonts, title);
        font-weight: getDeepMapValue(vars.$var, font-weight, normal) !important;
    };

    &__name {
        color: white;
    };

    &__hive {
        color: getDeepMapValue(vars.$var, colors, primary, shade );
    };

    &__textBx{
        font-family: getDeepMapValue(vars.$var, fonts, subtitle );
        color: getDeepMapValue(vars.$var, colors, secondary, lighter);
        backdrop-filter: getDeepMapValue(vars.$var, effects, glass, bd-filter);
        background-color: rgba(255, 255, 255, 0.5); 
    }
}
