@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.pipboy{
    padding: 1rem 0;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin: 1rem 0;

    &__container{
        background-color: rgba(255,255,255,0.5);
    }

    &__btns{
        width: 100%;
        display: flex;
        box-shadow: 0px 0px 0.2rem black;
    }

    &__button{
        width: 100%;
        padding: 0.8rem;
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h6 );
        background-color: getDeepMapValue(vars.$var, colors, primary, primary);
        border: 0;
        box-shadow: 0px 0px 0.2rem black;
        color: #f5f5f5;
        font-family: getDeepMapValue(vars.$var, fonts, title);
        cursor: pointer;

        &:hover, &.active{
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary);
        }
    }

    &__screens{
        height: 65vh;
        width: 95%;
        margin: auto;
        color: #f5f5f5;
    }


    &__screen{
        display: none;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }

    .visible{
        display: flex;
    }

    .hidden{
        display: none;
    }
    
    
    &__experience{
        &-list{
            display: flex;
        }
        &-item{
            margin: 1rem 0;
            background-color: rgba(0,0,0,0.5);
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}

@media screen and (min-width: 600px) {
    // .pipboy{
    //     &__screens{
    //         height: 65vh;
    //     }
    // }
}