@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}
