@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys { $map: map-get($map, $key); }
    @return $map;
}

.navModal{
    z-index: -1;
    position: absolute;
    top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__layer{
        min-height: 100vh;
        position: absolute;
        background-color: getDeepMapValue(vars.$var, colors, secondary, primary );
    }

    &__linkList{
        z-index: 1;
        min-height: 100vh;
        margin-top: 10vh;
    }
    
    &__link{
        width: 100%;
        min-height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: rgba(0,0,0,0.5);

        text-decoration: none;
        color: getDeepMapValue(vars.$var, colors, primary, shade );
        text-transform: uppercase;
        font-family: getDeepMapValue(vars.$var, fonts, title );
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h3);
        // box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.5);
        // border: 1px solid white; ?
        box-shadow: inset 0 0 0.5rem black;
        // text-shadow: 0px 0px 0.1rem black;
        
        &.active{
            color: #f5f5f5;
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary );
        }
    }

    &__icon{
        fill: #f5f5f5;
        width: 15%;
        filter: drop-shadow(0 0 0.1rem black);
        margin-bottom: 1rem;

        &--skillIcon, &--mountainIcon {
            width: 5rem;
        }

        path{
            stroke: #f5f5f5; 
        }
    }
}