@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.techSlider{
    width: 100%;
    position: sticky;
    
    .splide{
        background-color: getDeepMapValue(vars.$var, colors, tertiary, primary );
        padding: 0.5rem 0;
        
        box-shadow: 0px 0px 0.2rem black;
        &__track{
            height: 13vh;
            // box-shadow: 0px 0px 0.2rem black;
            box-shadow:inset 0px 0px 0.5rem black;
            background-color: white;
        }
    }

    .slide{
        box-shadow: none; 
        background-color: getDeepMapValue(vars.$var, colors, tertiary, primary );
        background-color: rgba(255,255,255,0.5);
        padding: 0.7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__hiveLogo{
            width: 100%;
            height: 100%;
            filter: drop-shadow(0 0 0.5rem black);
        
            &--path{
                stroke: white;
                filter: drop-shadow(0 0 0.5rem black);
                stroke-width: 0.8rem;
                fill: rgba(0,0,0,0.5);
            }
            .active{
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }
        
        &__techLogo{
            position: absolute;
            width: 30%;
            margin: 0 auto;
            border: 0;
            border-radius: 0.2rem;
            filter: drop-shadow(0 0 0.05rem black);
        }
        
        &:hover{
            .slide__hiveLogo--path{
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary );
            }
        }
    }
}