@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

.projectsPage {

  &__slides {
    position: relative;
    width: 100%;
    border-bottom: 6px solid #f5f5f5;

    &__title {
      z-index: 1;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.8);
      font-family: getDeepMapValue(vars.$var, fonts, title);
      font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
      color: #f5f5f5;
    }
  }

}

@media screen and (min-width: 1200px) {
  .slide {
    &__title {
      margin-bottom: 0.2rem;
      padding: 1rem 0 0 1rem;
      font-size: getDeepMapValue(vars.$var, font-sizes, title, h2);
    }
  }
}