@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.landingPage {
    &__intro {
        margin-bottom: 10rem;
        z-index: 1;
    }

    &__contentBx {
        margin: 15rem 0 0;
        backdrop-filter: getDeepMapValue(vars.$var, effects, glass, bd-filter);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 4rem 2rem;
        border-top: getDeepMapValue(vars.$var, effects, glass, border) getDeepMapValue(vars.$var, colors, primary, shade);
    }

    &__textBx {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        position: relative;
        font-family: getDeepMapValue(vars.$var, fonts, subtitle);
        color: getDeepMapValue(vars.$var, colors, secondary, lighter);
    }

    &__name,
    &__subtitle {
        font-family: getDeepMapValue(vars.$var, fonts, title);
        font-weight: getDeepMapValue(vars.$var, font-weight, normal);
    }

    &__name {
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h2);
        color: white;
        margin: 2rem 0;
        text-shadow: getDeepMapValue(vars.$var, shadows, text, title) getDeepMapValue(vars.$var, colors, secondary, primary);
    }

    &__subtitle {
        line-height: 2.5rem;
        text-shadow: getDeepMapValue(vars.$var, shadows, text, title) getDeepMapValue(vars.$var, colors, primary, primary);
        width: 12rem;
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h2);
    }

    &__text {
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
    }

    &__icon {
        width: 100%;
        // background-color: red;
        position: absolute;
        bottom: -13%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &--path {
            fill: rgba(0, 0, 0, 0.5);
        }

        &--svg {
            filter: drop-shadow(0 0 0.1rem black);

            &:hover {
                .landingPage__icon--path {
                    fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
                }
            }
        }
    }

    &__hive {
        position: absolute;
        right: 0rem;
        top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 20rem;
        background-image: url('../../ressources/bg/hive-BG-landing.svg');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        color: getDeepMapValue(vars.$var, colors, primary, shade);

        &--dekstop {
            width: 25rem;
            height: 25rem;
        }
    }



    .slides {
        &__titleBx {
            top: 0;
            z-index: 10;
            padding: 1rem;
            background-color: #202020;
        }

        &__title {
            font-family: getDeepMapValue(vars.$var, fonts, subtitle);
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
            color: white;
        }
    }

    .splide {
        margin: 0 auto;
        box-shadow: 0px 0px 0.5rem black;
        display: flex;
        align-items: center;
        position: relative;

        &__arrow {
            border: 0;
            border-radius: 0;
            filter: drop-shadow(0 0 0.1rem black);
            background-color: rgba(0, 0, 0, 0);
            transform: scaleX(-1);
            width: 4rem;

            &--path {
                fill: rgba(0, 0, 0, 0.5);
            }

            &--text {
                margin: auto;
                font-size: 1.5rem;
            }

            svg {
                fill: white;
                height: 3rem;
                width: 3rem;
                filter: drop-shadow(0 0 0.1rem black);
            }

            &:hover {
                .splide__arrow--path {
                    fill: getDeepMapValue(vars.$var, colors, tertiary, primary) !important;
                }
            }
        }

        &__desktop {
            height: 40rem;
        }
    }



    .slide {
        background-color: getDeepMapValue(vars.$var, colors, secondary, primary);
        box-shadow: 0px 0px 1rem black;
        display: flex;
        align-items: center;

        &__link {
            width: 100%;
            min-height: 100%;
        }

        &__cover {
            width: 100%;
            height: 100%; //40% pour desktop media queries
        }

        &__descBx {
            font-family: getDeepMapValue(vars.$var, fonts, text);
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            color: white;
            position: absolute;
            bottom: 0;
            padding: 1rem;
        }

        &__layer {
            display: none;
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .slide {
                &__layer {
                    display: flex;
                    opacity: 50%;
                }

                &__cover {
                    filter: saturate(50%) contrast(50%) grayscale(50%);
                }
            }
        }

        &__sizeStampBx{
            z-index: 10;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 1rem;
            right: 1rem;
            filter: drop-shadow(0 0 0.1rem black);

            &--path {
                fill: rgba(0, 0, 0, 0.5);
            }

            &--size {
                font-family: getDeepMapValue(vars.$var,fonts, subtitle);
                color: white;
                position: absolute;
            }
        }
        
        &:hover{
            .slide__sizeStampBx--size{
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary );
            }
            .slide__sizeStampBx--path {
                stroke:  getDeepMapValue(vars.$var, colors, tertiary, primary );
            }
        }

        &__macaron {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: 50%;

            filter: drop-shadow(0 0 0.1rem black);
            background-color: rgba(0, 0, 0, 0);

            &--path {
                fill: rgba(0, 0, 0, 0.5);
            }

            &--text {
                margin: auto;
                font-size: 1.5rem;
            }

            svg {
                fill: white;
                height: 2rem;
                width: 2rem;
                filter: drop-shadow(0 0 0.1rem black);
            }

            &--size {
                color: white;
                padding: 1rem;
            }
        }

        // media query !!
        &__desktop {
            width: 80% !important;
        }
    }





    .optionBar {
        margin-top: 3rem;
        display: flex;
        width: 100%;
        position: relative;

        &__buttons {
            margin: 0 auto;
        }

        &__buttonBx {
            margin: 4rem;
            position: relative;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            text-decoration: none;

            &:hover {
                .optionBar__hivePath {
                    fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
                }
            }
        }

        &__hiveSVG {
            filter: drop-shadow(0 0 0.1rem black);
        }

        &__svg {
            width: 4rem;
            margin-bottom: 1.2rem;
            fill: white;
            filter: drop-shadow(0 0 0.1rem black);

            path {
                stroke-width: 0.1rem;
            }
        }

        &__hivePath {
            fill: rgba(0, 0, 0, 0.5);
            stroke: white;

            &:hover {
                fill: getDeepMapValue(vars.$var, colors, tertiary, primary);
            }
        }

        &__desc {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-family: getDeepMapValue(vars.$var, fonts, title);
            color: white;
        }

        &__bar {
            position: absolute;
            z-index: -1;
            top: 30%;
            height: 17rem;
            width: 100%;
            border-top: getDeepMapValue(vars.$var, effects, glass, border) getDeepMapValue(vars.$var, colors, primary, shade);
            backdrop-filter: getDeepMapValue(vars.$var, effects, glass, bd-filter);
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}