@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.contact {
    &__title{
        text-align: center;
        color: white;
        font-family: getDeepMapValue(vars.$var, fonts, title);
        text-transform: uppercase;
        margin: 1rem auto 0;
    }

    &__text{
        text-align: center;
        color: white;
        font-family: getDeepMapValue(vars.$var, fonts, title);
        margin: 0.5rem auto 0;
    }

    &__iconBx {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        &:hover{
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary );
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: white;
    }
}

@media screen and (min-width: 600px) {
    .contact{
        position: fixed;
        top: 20%;
        left: 0;
        width: 5rem;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 1rem 1rem 0;

        &__iconBx{
            flex-direction: column;
        }
    }
}