@use 'src/styles/vars';

@function getDeepMapValue($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

.aboutMeScreen {
    width: 100%;
    // margin: 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: getDeepMapValue(vars.$var, fonts, text);
    overflow-x: hidden;

    &__contentBx {
        // width: 95%;
        width: 100%;
        padding: 1rem 0 0;
        margin: 0 0 2rem;
        border-radius: 1rem;
    }

    &__title {
        font-family: getDeepMapValue(vars.$var, fonts, title);
        font-size: getDeepMapValue(vars.$var, font-sizes, title, h5);
        text-align: center;
    }

    &__list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__card {
        margin: 1rem 0 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0.1px solid black;
        box-shadow: 0px 0px 0.2rem black;
        cursor: pointer;

        &list {
            display: flex;
        }

        &-title {
            font-family: getDeepMapValue(vars.$var, fonts, subtitle);
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h5);
            text-align: center;
        }

        &-textBx {
            margin: 1rem 0 0;
        }

        &-text {
            padding-top: 1rem;
            text-align: center;
            hyphens: auto;
            line-height: 1.2rem;
            font-size: getDeepMapValue(vars.$var, font-sizes, title, h6);
        }

        &-gifBx {
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: center;
        }

        &-gif {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            overflow: hidden;
            margin: 0 0 0.5rem;
        }

        &:hover {
            background-color: getDeepMapValue(vars.$var, colors, tertiary, primary);
        }
    }
}

@media screen and (min-width:600px) {
    .aboutMeScreen {
        &__card {
            transition: all 0.12s ease-in-out;
            &-gif {
                width: 50%;
            }
        }
    }
}